@font-face {
  font-family: 'quicksandregular' ;
  src: url('../fonts/quicksand-regular.woff2') format('woff2'),
    url('../fonts/quicksand-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandmedium';
  src:local('Quicksand Medium');
  src: url('../fonts/quicksand-medium .woff2') format('woff2'),
    url('../fonts/quicksand-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium.woff2') format('woff2'),
    url('../fonts/roboto-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}