html,
body{
  height: 100%;
}


body {
  color: $default;
  line-height: 26px;
  font-size: 16px;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  text-align: center;
  font-size: 48px;
  @extend %roboto-700;
  line-height: 65px;
  color: $title;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}