html,
body {
  height: 100%;
}


body {
  color: $default;
  line-height: 26px;
  font-size: 16px;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
  color: $default;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


.title {
  text-align: center;
  font-size: 48px;
  @extend %roboto-700;
  line-height: 65px;
  color: $title;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/home.svg');
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
  }

  &__list {
    display: flex;
  }

  &__item {
    color: #727272;
    padding-right: 40px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle-right.svg');
      width: 9px;
      height: 10px;
      right: 14px;
      top: 8px;
    }

    &:last-child {
      color: $accent;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  .pagination__list {
    display: flex;
    padding: 0 35px;
  }

  &__item {
    padding: 0 15px;
  }

  &__arrows {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      top: 8px;
    }
  }

  &__link--active {
    color: $accent;
  }

  &__prev {
    padding-left: 15px;

    &::before {
      background-image: url('../images/icons/page-left.svg');
      left: 0;
    }
  }

  &__next {
    padding-right: 15px;

    &::before {
      background-image: url('../images/icons/page-right.svg');
      right: 0;
    }
  }
}