@media (max-width: 1230px) {
  .page-404 {
    &__img {
      width: 40%;
    }
  }

  .person,
  .lated-post {
    display: none;
  }

  .blog-page {

    .filter-category,
    .filter-popular,
    .filter-tags {
      display: none;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      width: 100%;
      max-width: 100%;
    }

    &__aside {
      order: -1;
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }

    &__aside-item {
      .filter-search__input {
        width: 100%;
      }
    }

    &__img {
      max-height: 450px;
      width: 100%;
      object-fit: cover;
      max-width: 100%;
    }

    &__item {
      max-width: 100%;
    }

    &__popup {
      max-width: 100%;
    }

    &__img-item {
      max-height: 600px;
    }
  }

  .comments-form {
    &__box-input {
      width: 100%;
    }

    &__text-input {
      width: 50%;
    }
  }

  .blog-one {
    &__form {
      .comments-form__text-input {
        width: 100%;

        &+.comments-form__text-input {
          margin-left: 30px;
        }
      }
    }

    &__author {
      width: 100%;
      padding: 0 30px 30px;
    }

    &__box {
      width: 100%;
    }


  }

  .shop {
    &__inner {
      display: block;
      position: relative;
    }

    &__filters {
      max-width: 100%;
      margin-right: 0px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      background: #fff;
      width: 100%;
    }

    &__filter-btn {
      display: block;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 15px;
      z-index: 16;
      bottom: 50px;
      padding: 5px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        border: 1px solid $accent;
        background-color: #fff;

        path {
          fill: $accent;
        }
      }
    }

    .filter-search {
      &__input {
        width: 100%;
      }
    }

    .product-item {
      max-width: 370px;
    }

  }

  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__nogrid {
      display: flex;
    }
  }

  .product-slide {
    &__thumb {
      display: none;
    }

    .slick-dots {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      align-items: center;

      .slick-active button {
        height: 12px;
        width: 12px;
        background-color: $accent;
      }

      li button {
        border: none;
        background-color: #8d8d8d;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      li+li {
        margin-left: 15px;
      }
    }
  }

  .product-one {
    &__inner {
      justify-content: center;
    }

    &__slide {
      width: auto;
      margin-right: 40px;
    }

    &__content {
      max-width: 100%;
    }
  }

  .product-tabs {
    padding-top: 50px;

  }

  .comments-form {
    &__text-input {
      &+.comments-form__text-input {
        margin-left: 20px;
      }
    }
  }



}

@media (max-width: 1100px) {
  .contact {
    padding-bottom: 20px;

    &__inner {
      display: block;
    }

    &__content {
      margin-right: 0;
      max-width: 100%;
    }

    &__form {
      padding: 20px;
    }

    &__form-input {
      flex-wrap: wrap;
    }

    &__form-input {
      width: 100% !important;

      &+.contact__form-input {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 992px) {
  .product-one {
    &__inner {
      display: block;
    }

    &__slide {
      margin-right: 0;
    }
  }

  .product-slide {
    &__big {
      width: 100%;

      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .page-404 {
    padding: 60px 0;

    &__img {
      display: none;
    }

    &__title {
      line-height: 56px;
    }

    &__box {
      width: 100%;
    }
  }

  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__nogrid {
      display: flex;
    }
  }

  .shop {
    padding: 60px 0;
  }

  .product-page {
    padding-top: 60px;
  }

  .related {
    padding: 50px 0 60px 0;
    &__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    .product-item__new-price {
      margin-right: 10px;
    }
  }
 
}

@media (max-width: 720px) {
  .shop-content {
    &__filter-buttons {
      display: none;
    }

    &__filter {
      padding: 20px 25px 20px 0;
    }
  }

  .comments-form {
    &__label {
      margin-right: 0;
      display: block;
    }

    &__radio {
      display: block;
    }

    &__rating-title {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

@media (max-width: 620px) {
  .blog-page {
    padding: 60px 0;

    &__img {
      height: auto;
      width: 100%;
      object-fit: cover;
      max-width: 100%;
    }

    &__box {
      padding: 15px;
    }

    &__popup {
      max-width: 100%;
      width: 100%;
      height: 200px;
    }

    &__slider {
      .slick-next {
        right: 20px;
      }

      .slick-prev {
        left: 20px;
      }

    }
  }

  .blog-one {
    &__text {
      padding: 15px;

      blockquote {
        padding: 13px;
        font-size: 17px;
        line-height: 24px;
      }
    }

    &__info {
      flex-wrap: wrap;
    }

    &__form {
      .comments-form__text-input {
        &+.comments-form__text-input {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }

    &__box {
      flex-wrap: wrap;
      padding: 15px;
    }

    &__author {
      flex-wrap: wrap;
      padding: 15px;
    }

    &__tags {
      flex-wrap: wrap;
    }

  }

  .comments-form {
    &__box-input {
      flex-wrap: wrap;
    }

    &__text-input {
      width: 100%;

      &+.comments-form__text-input {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &__rating span {
      margin-bottom: -15px;
    }
  }

  .contact {

    padding-bottom: 60px;

    &__form-box {
      flex-wrap: wrap;
    }

    &__form-input {
      &+.contact__form-input {
        margin-left: 0;
      }
    }
  }

  .map {
    padding: 60px 0;
  }

  .product-tabs {
    &__top {
      display: block;
    }

    &__top-item {
      display: block;
      margin-bottom: 15px;

      &+.product-tabs__top-item {
        margin-left: 0;
      }
    }
  }

}

@media (max-width: 500px) {
  .comments {
    &__img {
      margin-right: 15px;
      min-width: 43px;
      height: 43px;
    }
  }

  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__nogrid {
      display: flex;
    }
  }

  .pagination {
    &__arrows {
      display: none;
    }
  }

}


@media (max-width: 420px) {

  .blog-page {
    &__author {
      margin-bottom: 10px;
    }

    &__info {
      flex-wrap: wrap;
    }
  }

  .contact {
    padding-bottom: 60px;

    &__info-list {
      font-size: 14px;
    }

    &__title {
      font-size: 28px;
      line-height: 38px;
    }

    &__info-item {
      padding: 10px 0 10px 70px;
    }
  }

  .product-slide {
    &__big {
      img {
        height: 400px;
      }
    }
  }

  .product-one {
    &__box {
      display: block;
    }

    &__price {
      padding-left: 8px;
      margin-bottom: 5px;
    }

    &__item-btn {
      padding: 12px 15px;
    }

  }

  .product-filter {
    &__size label {
      margin-right: -1px;
    }
  }

  .comments {
    &__img {
      display: none;
    }

    &__content-name {
      padding-right: 8px;
    }

    &__content-data {
      padding-left: 6px;
      font-size: 14px;
    }

    &__content-star {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 340px) {
  .product-filter__size label {
    margin-right: -1px;
  }

}