$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;
 

%quicksand-400 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'quicksandmedium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'robotoregular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'robotomedium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'robotobold', sans-serif;
  font-weight: 700;
}