@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {}

  &__list-item {
    display: inline-block;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-stretch: 75%;
    color: $title;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 1px;
    @extend %roboto-400;
    transition: all .5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
      
    }

    &:before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      
    }

  }

  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;

  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 25px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
  }


}


@import 'media';