@import "../../app/scss/vars";

.top-slider {
  background-image: url('../images/decor/top-slider-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding: 65px 0 43px;

  &__title {
    max-width: 670px;
    @extend %roboto-700;
    line-height: 68px;
    font-size: 58px;
    color: $title;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px
  }

  &__content {
    padding-top: 125px;
    padding-left: 150px;
  }

  &__btn {
    @extend %btn;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    letter-spacing: 3px;
  }

  &__container {
    max-width: 1520px !important;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            position: absolute;
            background-color: $accent;
          }
        }
      }
    }
  }
}