@import "../../app/scss/vars";

.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-left-bg.png');
  background-repeat: no-repeat;
  background-position: left 46%;

  &__inner {
    background-image: url('../images/decor/categories-right-bg.png');
    background-repeat: no-repeat;
    background-position: right 56%;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    background-image: url('../images/decor/info-before-bg.svg');
    height: 121px;
    width: 120px;
    top: -39px;
    left: -43px;
  }

  &::after {
    background-image: url('../images/decor/info-after-bg.svg');
    height: 52px;
    width: 65px;
    bottom: 97px;
    right: -24px;
  }

  &__item {
    max-width: 370px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    padding: 60px 40px;
    margin-bottom: 120px;
    z-index: 2;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    margin-bottom: 20px;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__subtitle,
      .categories__link:hover {
        color: #5800e4;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__subtitle,
      .categories__link:hover {
        color: $accent;
      }
    }

    &:nth-child(3) {

      .categories__subtitle,
      .categories__link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__subtitle,
      .categories__link:hover {
        color: #34c3ff;
      }
    }
  }

  &__subtitle {
    margin-bottom: 5px;
    @extend %quicksand-500
  }

  &__title {
    @extend %roboto-500;
    font-size: 22px;
    color: $title;
    margin-bottom: 16px;
  }

  &__link {
    text-transform: uppercase;
    @extend %roboto-400;
    color: $title;
    transition: all .3s;
  }
}